[Unit]
Description=one-shell-history service

[Service]
Type=simple
User=%i
ExecStart=$base/ExecStart
ExecStop=$base/ExecStop

[Install]
WantedBy=multi-user.target
