[Unit]
Description=one-shell-history service

[Service]
Type=notify
NotifyAccess=all
ExecStart=$base/ExecStart
ExecStop=$base/ExecStop

[Install]
WantedBy=default.target
